
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #f7f9fb;
  color: #1f2937;
}

/* ---------- NAVBAR ---------- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 1.8rem 60px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar nav a {
    margin-left: 25px;
    text-decoration: none;
    color: #2698bb;
    font-weight: 500;
    transition: 0.3s;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 25px;
  color: #2691b2;
}

.logo-img {
  width: 45px;
  height: 45px;
  margin-right: 8px;
}

.menu{
  font-size: large;
}

.menu a {
  margin-left: 1.5rem;
  text-decoration: none;
  color: #5aabc6;
  font-weight: 500;
  transition: color 0.2s ease;
  font-size: large;
}



/* ---------- HERO SECTION ---------- */
.hero {
  background-color: #1997b9;
  color: white;
  text-align: left;
  padding: 45px 150px;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  max-width: 950px;
  line-height: 1.6;
}

/* ---------- MAIN CONTENT ---------- */
.content {
  max-width: 1100px;
  margin: 2rem auto;
  padding: 2rem;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
}

.filter-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 250px;
}

.filter-box label {
  font-weight: 600;
  color: #374151;
}

.filter-box select {
  padding: 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #f9fafb;
  color: #6b7280;
  width: 100%;
}

.subtitle {
  text-align: center;
  margin-top: 3rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: #1f2937;
}
