* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f7f9fb;
  color: #1f2937;
}


/* ---------- NAVBAR A---------- */
.navbar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 60px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 25px;
  color: #2691b2;
}

.logo-img {
  width: 45px;
  height: 45px;
  margin-right: 8px;
}

/* Menú de enlaces en PC */
.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #5aabc6;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #0082a8;
}

/* Botón menú hamburguesa (☰) */
.menu-btn {
  display: none;
  font-size: 40px;
  background: none;
  border: none;
  color: #2691b2;
  cursor: pointer;
}

/* ===== Sidebar (solo móvil) ===== */
.sidebar {
  position: absolute;
  top: 90px;
  left: 0;
  width: 250px;
  height: calc(100vh - -460px);
  background-color: #f4f7f9;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 999;
}

.sidebar.active {
  transform: translateX(0);
}

.menu {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.menu a {
  margin-left: 1.5rem;
  text-decoration: none;
  color: #5aabc6;
  font-weight: 500;
  transition: color 0.2s ease;
  font-size: large;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  .nav-links {
    display: none; /* ocultar menú superior */
  }

  .menu-btn {
    display: block; /* mostrar botón ☰ */
  }

  /* En móvil, la navbar sí es fija */
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
  }

  .sidebar {
    display: block;
  }
}


/*
.menu a:hover,
.menu a.active {
  color: #0083b0;
}*/
.navbar nav a:hover {
    color: #0e5d72;
}


/* ---------- HERO SECTION ---------- */
.hero {
  background-color: #1997b9;
  color: white;
  text-align: center;
  padding: 3.9rem 1rem;
}

@media (max-width: 768px) {
  .hero {
    padding: 8rem 1rem 2rem 2rem;
  }
}

.hero h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}


.hero p {
  font-size: 1.1rem;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.6;
}


/* ---------- MAIN CONTENT ---------- */
.content {
  max-width: 80rem;
  margin: 2rem auto;
  background: #fff;
  padding: 2rem 4rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}



.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.content-header h2 {
  font-size: 1.8rem;
  font-weight: 700;
}


.subtext {
  color: #6b7280;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .content-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .content-header h2 {
    margin-bottom: 10px;
  }

  .subtext {
    text-align: center;
  }
  
  .filter-box {
    align-items: center;
  }
}

.btn-upload {
  background-color: #1c98b4;
  color: white;
  border: none;
  padding: 0.75rem 1.25rem;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: background 0.2s ease;
  font-size: medium;
}

.btn-movil {
  display: none;
  background-color: #1c98b4;
  color: white;
  border: none;
  padding: 0.75rem 1.25rem;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  align-items: center;
  gap: 0.5rem;
  transition: background 0.2s ease;
  font-size: medium;
}

@media (max-width: 768px) {
  .btn-movil {
    display: flex;
    margin: 1rem auto 2rem auto;
  }
  .btn-upload {
    display: none;
  }
}

.btn-upload:hover {
  background-color: #157a91;
}

/* ===== Footer ===== */
footer {
  text-align: center;
  margin-top: 60px;
  padding: 20px;
  background-color: rgb(0, 0, 0);
  font-size: 0.9rem;
  color: #868686;
}


/* ---------- FILTER BOX ---------- */
.filter-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.filter-box label {
  display: inline-block;
  width: 200px;
  font-weight: 600;  
  color: #374151;
}

.filter-box select {
  padding: 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #f9fafb;
  color: #374151;
}

/* ---------- MODAL ---------- */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

.modal-contenido {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  width: 500px;
  max-width: 90%;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
  position: relative;
}

.modal-contenido h2 {
  color: #1a8aa4;
  margin-bottom: 20px;
}

.modal-contenido label {
  display: block;
  margin-top: 12px;
  font-weight: 600;
}

.modal-contenido input,
.modal-contenido select,
.modal-contenido textarea {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.modal-contenido textarea {
  resize: vertical;
  height: 80px;
}

.btn-guardar {
  background-color: #2896b4;
  color: white;
  border: none;
  margin-top: 20px;
  padding: 12px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  width: 100%;
}

.btn-guardar:hover {
  background-color: #1d7a93;
}

.cerrar {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 25px;
  font-weight: bold;
  color: #555;
  cursor: pointer;
}

.cerrar:hover {
  color: #000;
}