* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #f7f9fb;
  color: #1f2937;
}

/* ---------- NAVBAR ---------- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 1.8rem 60px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 25px;
  color: #2691b2;
}

.logo-img {
  width: 45px;
  height: 45px;
  margin-right: 8px;
}

.menu a {
  margin-left: 1.5rem;
  text-decoration: none;
  color: #5aabc6;
  font-weight: 500;
  transition: color 0.2s ease;
  font-size: large;
}
/*
.menu a:hover,
.menu a.active {
  color: #0083b0;
}*/
.navbar nav a:hover {
    color: #0e5d72;
}


/* ---------- HERO SECTION ---------- */
.hero {
  background-color: #1997b9;
  color: white;
  text-align: center;
  padding: 3.9rem 1rem;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.1rem;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.6;
}

/* ---------- MAIN CONTENT ---------- */
.content {
  max-width: 80rem;
  margin: 2rem auto;
  background: #fff;
  padding: 2rem 4rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.content-header h2 {
  font-size: 1.8rem;
  font-weight: 700;
}

.subtext {
  color: #6b7280;
  margin-bottom: 2rem;
}

.btn-upload {
  background-color: #1c98b4;
  color: white;
  border: none;
  padding: 0.75rem 1.25rem;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: background 0.2s ease;
  font-size: medium;
}

.btn-upload:hover {
  background-color: #157a91;
}

/* ---------- FILTER BOX ---------- */
.filter-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.filter-box label {
  display: inline-block;
  width: 200px;
  font-weight: 600;  
  color: #374151;
}

.filter-box select {
  padding: 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #f9fafb;
  color: #374151;
}
